<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', book:@booknew, user:current_user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |users| %>
            <tr>
              <td>
                <%= attachment_image_tag users, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:"40x40" %>
              </td>
              <td>
                <%= users.name %>
              </td>
              <td>
                <%= link_to "Show", user_path(users.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>



